/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
        }
        .modal {
            display: none;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        .modal-content {
            background: white;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
        }
        .modal-header {
			height:20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
			background-color:green;
			color:white;
			padding:15px;
        }
        .close-modal {
            cursor: pointer;
			width:25px;
			height:25px;
            font-size: 20px;
			border:none;
			background-color:transparent;
        }